/*Style général*/
	$police_roboto : 'Roboto', sans-serif;
	$color-primary: #9356dc;
	$color-secondary: #ff79da;
	$color-tertiary : #99e2d0;
	$color-grey : #f6f6f6;
	$accueil-titre-size: (
		mobile:1.6em,
		desktop:1.4em
	);

	$shadow : (
		mobile:4px 5px 4px #C6C5C5,
		desktop:4px 5px 4px #C6C5C5
	);

	@mixin bouton-mobile {
		color: white;
		font-size: 1.1em;
		background: linear-gradient( to top, $color-primary, $color-secondary);
		border-radius: 30px;
	}

	@mixin bouton-desktop {
		color: white;
		font-size: 1.1em;
		background: linear-gradient( to top, $color-primary, $color-secondary);
		border-radius: 30px;
	}

	$breakpoints:(
		desktop: 1025px,
	);

	@mixin desktop-only {
	  @media screen and (min-width: map-get($breakpoints, desktop)){
	      @content;
	  }
	}


	*{
		margin:0;
	}

	body{
		font-family: $police_roboto;
		background-image: url("../maquettes/Accueil.png");
		background-attachment: scroll;
		background-repeat: no-repeat;
		background-position: top center;
		background-size: 100%;
		background-color: #FFFFFF;
		@include desktop-only{
		    background-image: url("../maquettes/menu_a_la_francaise-desktop.png");
		}
	}

	h1{
		font-family: 'Shrikhand', cursive;
		font-size: 1.86em;
		@include desktop-only{
		    font-size: 1.5em;
		}
	}

	a{
		text-decoration: none;
	}

	p{
		font-size: 1.1em;
		@include desktop-only{
			font-size: 1em;
		}
	}


/*Header*/

	header{
		text-align: center;
		box-shadow:0 1px 4px #cecece;
		padding: 6% 0 2%;
		@include desktop-only{
			padding: 1.9% 0 0.8%;
		}
		
		img{
			width: 45%;
			@include desktop-only{
				width: 15%;
			}
		}
	}

	.header-menu{
		display: flex;
		justify-content: space-between;
		padding: 6% 26% 2.5% 6.5%;
		@include desktop-only{
			padding: 2% 48% 0.9% 19.5%;
		}

		img{
			width: 88%;
			@include desktop-only{
			    width: 136%;
			}
		}

		i{
			font-size: 1.2em;
			color: black;
			@include desktop-only{
			    font-size: 2.1em;
			}
		}
	}


/*Localisation*/
	.city{
		text-align: center;
		padding: 4% 35.5% 4% 28%;
		background-color: #eaeaea;
		display: flex;
		justify-content: space-between;
	}


/*Slogan + lien vers restaurant*/
	.slogan{
		padding: 10.5%0 19% 3%;
		text-align: center;
		background-color: $color-grey;

		h1{
			font-family: $police_roboto;
			font-size: map-get($accueil-titre-size, mobile);
			padding: 0 21% 0 14%;
		}

		p{
			font-size: 1.26em;
			margin: 3% 0 12% 0;
		}

		a{
			padding: 4.2% 6%;
			@include bouton-mobile;
		}
	}


/*Fonctionnement*/
	.fonctionnement{
		padding: 13.5% 0 11.5% 5%;

		h2{
			font-size: map-get($accueil-titre-size, mobile);
			margin-bottom: 7%;
		}

		p{
			padding: 8.5% 0% 6.5%;
			margin: 0 5% 6% 4%;
			background-color: $color-grey;
			display: flex;
			align-items: center;
			border-radius: 30px;
			box-shadow: map-get($shadow, mobile);

			span{
				margin-left: -4%;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 26px;
				height: 26px;
				background-color: $color-primary;
				border-radius: 30px;
				color: white;
			}

			i{
				margin: 0 26px;
			}
		}
	}

	.fa-mobile-alt{
		font-size: 1.3em;
	}


/*Restaurants*/
	#restaurant{
		padding: 14.5% 0 12.5% 5%;
		background-color: $color-grey;

		h2{
			font-size: map-get($accueil-titre-size, mobile);
			margin-bottom: 6%;
		}

		figure{
			width: 94.5%;
			height: 280px;
			overflow: hidden;
			border-radius: 17px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			position: relative;
			margin-bottom: 17px;
			box-shadow: map-get($shadow, mobile);

			figcaption{
				min-height: 25%;
				display: flex;
				padding: 5% 4% 0;
				justify-content: space-between;
				position: relative;
				background-color: white;

				h3{
					font-size: 1.2em;
					margin-bottom: 4px;
				}

				p{
					font-size: 1.15em;
				}

				i{
					font-size: 1.6em;
					padding: 6px 12px;
					position: absolute;
					top: 20px;
					right: 15px;
					font-weight: 100;
				}
			}
		}
	}

	.new{
		position: absolute;
		top: 15px;
		right: 15px;
		background-color: $color-tertiary;
		color: #008766;
		padding: 4px 9px;
		border-radius: 2px;
	}


/*Footer*/
	footer{
		padding: 6% 0 6.7% 6.5%;
		color: white;
		background-color: #353535;

		h5{
			font-size: 1.24em;
			margin-bottom: 19px;
			font-family: 'Shrikhand', cursive;
		}

		p{
			color: white;
			font-size: 1.11em;
			margin-bottom: 7px;
		}

		i{
			margin-right: 10px;
		}
	}

	.fa-hands-helping{
		font-size: 0.7em;
	}


/*pages menus*/
	.main-menu{
		padding-top: 59%;
		background-attachment: fixed;
	  	background-repeat: no-repeat;
	  	background-position: top center;
	  	background-size: 126%;

	  	h1{
	  		background-color: $color-grey;
	  		padding: 8.5% 9.5% 0 5.5%;
	  		border-radius: 43px 43px 0 0;
	  		display: flex;
	  		justify-content: space-between;
	  		align-items: center;

	  		i{
	  			font-size: 1em;
	  			font-weight: 100;
	  		}
	  	}
	}

	.palette{
		background-image: url('../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
	}

	.enchantee{
		background-image: url('../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg');
	  	background-size: 100%;
	  	background-position: center -38px;
	}

	.francaise{
		background-image: url('../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
	}

	.sens{
		background-image: url('../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg');
	  	background-size: 123%;
	}

	form{
		background-color: $color-grey;
		padding: 8% 0 24%;
	}
	
	.menu{
		margin: 0 0 10.5% 3.7%;
	}

	h2{
		font-size: 1.09em;
		margin: 0% 1.5% 23px;

		span{
			border-bottom: 3px $color-tertiary solid;
			padding-bottom: 4px;

		}
	}

	.choix{
		background-color: white;
		box-shadow: map-get($shadow, mobile);
		margin: 0% 3% 3.8% 0%;
		overflow: hidden;
		border-radius: 16px;
		display: flex;

		div{
			width: 100%;
			margin: 3.5% 3% 3.8%;

			h3{
				font-size: 1.18em;
				margin-bottom: 6px;
			}

			p{
				font-size: 1.01em;
				display: flex;
				justify-content: space-between;
			}
		}

		input{
			margin: 0;
			transform-origin: 100% 50%;
        	transform: scaleX(0);
    	}
	}

	input{
		margin: 3% 0 0 25%;
		padding: 4.2% 11.5% ;
		@include bouton-mobile;
		border-style: none;
		font-family: $police_roboto;
	}