/*Style général*/
	$police_roboto : 'Roboto', sans-serif;
	$color-primary: #9356dc;
	$color-secondary: #ff79da;
	$color-tertiary : #99e2d0;
	$color-background-primary : #ffffff;
	$color-background-secondary : #f6f6f6;
	$accueil-titre-size: (
		mobile:1.6em,
		tablet: 2.3em,
		desktop:2.65em
	);

	$shadow : (
		mobile:4px 5px 4px #C6C5C5,
		tablet:6px 7px 4px #C6C5C5,
		desktop:8px 10px 4px #C6C5C5,
	);

	@mixin bouton-mobile {
		color: white;
		font-size: 1.1em;
		background: linear-gradient( to top, $color-primary, $color-secondary);
		border-radius: 30px;
	}

	@mixin bouton-tablet {
		font-size: 1.3em;
		border-radius: 50px;
	}

	@mixin bouton-desktop {
		font-size: 1.65em;
		border-radius: 100px;
	}

	$breakpoints:(
		tablet: 600px,
		max-deskop: 1350px,
		desktop: 1025px,
	);

	@mixin tablet-only {
	  @media screen and (min-width: map-get($breakpoints, tablet)){
	      @content;
	  }
	}

	@mixin desktop-only {
	  @media screen and (min-width: map-get($breakpoints, desktop)){
	      @content;
	  }
	}

	@mixin max-desktop-only {
	  @media screen and (min-width: map-get($breakpoints, max-deskop)){
	      @content;
	  }
	}



	*{
		margin:0;
	}

	body{
		font-family: $police_roboto;
		background-color: #eaeaea;
		/*background-image: url("../maquettes/Accueil.png");
		background-attachment: scroll;
		background-repeat: no-repeat;
		background-position: top center;
		background-size: 100%;
		@include desktop-only{
		    background-image: url("../maquettes/menu_a_la_francaise-desktop.png");
		}*/
	}

	h1{
		font-family: 'Shrikhand', cursive;
		font-size: 1.86em;
		@include tablet-only{
		    font-size: 2.1em;
		}
		@include desktop-only{
		    font-size: 2.7em;
		}
	}

	a{
		text-decoration: none;
	}

	p{
		font-size: 1.1em;
		@include tablet-only{
		    font-size: 1.3em;
		}
		@include desktop-only{
			font-size: 1.64em;
		}
	}


/*Header*/

	header{
		text-align: center;
		background-color: $color-background-primary;
		box-shadow: 0 1px 4px #cecece;
		padding: 6% 0 2%;
		@include tablet-only{
			padding: 4% 0 2%;
			box-shadow: 0 6px 4px rgba(113, 109, 109, 0.31);
		}
		@include desktop-only{
			padding: 1.9% 0 0.8%;
		}
		
		img{
			width: 45%;
			@include tablet-only{
				width: 30%;
			}
			@include desktop-only{
				width: 20%;
			}
		}
	}

	.header-menu{
		display: flex;
		justify-content: space-between;
		padding: 6% 26% 2.5% 6.5%;
		@include tablet-only{
			padding: 4% 27% 2% 19%;
		}
		@include desktop-only{
			padding: 2% 48% 0.8% 19.5%;
		}

		img{
			width: 88%;
			@include tablet-only{
				width: 100%;
			}
			@include desktop-only{
			    width: 136%;
			}
		}

		i{
			font-size: 1.2em;
			color: black;
			@include tablet-only{
				font-size: 1.5em;
			}
			@include desktop-only{
			    font-size: 2.1em;
			}
		}
	}


/*Localisation*/
	.city{
		text-align: center;
		padding: 4% 35.5% 4% 28%;
		display: flex;
		justify-content: space-between;
		color: #353535;
		@include tablet-only{
			padding: 4% 38% 4% 40%;
		}
		@include desktop-only{
			padding: 1.4% 42% 1.2% 42%;
		}
	}


/*Slogan + lien vers restaurant*/
	.slogan{
		padding: 10.5% 0 19% 3%;
		text-align: center;
		background-color: $color-background-secondary;
		@include tablet-only{
			padding: 10.5% 0 19% 3%;
		}
		@include desktop-only{
			padding: 4% 0 7% 0;
		}


		h1{
			font-family: $police_roboto;
			font-size: map-get($accueil-titre-size, mobile);
			padding: 0 21% 0 14%;
			@include tablet-only{
				padding: 0 20%;
				font-size: map-get($accueil-titre-size, tablet);
			}
			@include desktop-only{
				padding: 0 35%;
				font-size: map-get($accueil-titre-size, desktop);
			}
		}

		p{
			font-size: 1.26em;
			margin: 3% 0 12% 0;
			color: #353535;
			@include tablet-only{
				font-size: 1.5em;
				margin: 4% 18% 9%;
			}
			@include desktop-only{
				font-size: 1.81em;
				margin: 1.15% 31.5% 4.5%;
			}
		}

		a{
			padding: 4.2% 6%;
			@include bouton-mobile;
			box-shadow: map-get($shadow, mobile);
			@include tablet-only{
				padding: 3% 4%;
				@include bouton-tablet;
				box-shadow: map-get($shadow, tablet);
			}
			@include desktop-only{
				padding: 1.4% 2%;
				@include bouton-desktop;
				box-shadow: map-get($shadow, desktop);
			}
		}
	}


/*Fonctionnement*/
	.fonctionnement{
		padding: 13.5% 0 11.5% 5%;
		background-color: $color-background-primary;
		@include desktop-only{
			padding: 6.6% 2.7% 10% 5.7%;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		@include max-desktop-only{
			padding: 6.6% 2.7% 10% 5.7%;
		}

		h2{
			font-size: map-get($accueil-titre-size, mobile);
			margin: 0 0.5% 7%;
			@include tablet-only{
				font-size: map-get($accueil-titre-size, tablet);
				margin: 0 1% 7%;
			}
			@include desktop-only{
				font-size: map-get($accueil-titre-size, desktop);
				margin: 0 100% 2.7% 0;
			}
		}

		p{
			padding: 8.5% 0% 6.5%;
			margin: 0 5% 6% 4%;
			background-color: $color-background-secondary;
			display: flex;
			align-items: center;
			border-radius: 30px;
			box-shadow: map-get($shadow, mobile);
			@include tablet-only{
				padding: 4% 0;
				box-shadow: map-get($shadow, tablet);
			}
			@include desktop-only{
				padding: 2% 0;
				margin: 0 0 0 1%;
				border-radius: 50px;
				box-shadow: map-get($shadow, desktop);
				font-size: 1.5em;
				width: 29%
			}

			span{
				margin-left: -4%;
				display: flex;
				justify-content: center;
				align-items: center;
				min-width: 26px;
				min-height: 26px;
				background-color: $color-primary;
				border-radius: 30px;
				color: white;
				@include tablet-only{
					min-width: 32px;
					min-height: 32px;
				}
				@include desktop-only{
					min-width: 40px;
					min-height: 40px;
				}
			}

			i{
				margin: 0 26px;
				color: #7e7e7e;
			}
		}
	}

	.fa-mobile-alt{
		font-size: 1.3em;
	}


/*Restaurants*/
	#restaurant{
		padding: 14.5% 0 12.5% 5%;
		background-color: $color-background-secondary;
		@include tablet-only{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			padding:14.5% 5% 12.5%;
		}
		@include desktop-only{
			padding:6% 2.5% 5.2% 2.5%;
		}

		h2{
			font-size: map-get($accueil-titre-size, mobile);
			margin-bottom: 6%;
			@include tablet-only{
				font-size: map-get($accueil-titre-size, tablet);
				margin: 0 100% 6% 0%;
			}
			@include desktop-only{
				font-size: map-get($accueil-titre-size, desktop);
				margin: 0 100% 2.2% 2.8%;
			}
		}

		figure{
			width: 94.5%;
			height: 280px;
			overflow: hidden;
			border-radius: 17px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			position: relative;
			margin-bottom: 17px;
			box-shadow: map-get($shadow, mobile);
			@include tablet-only{
				width: 48%;
				height: 300px;
				border-radius: 30px;
				margin-bottom: 3%;
				box-shadow: map-get($shadow, tablet);
			}
			@include desktop-only{
				width: 30%;
				height: 400px;
				box-shadow: map-get($shadow, desktop);
			}
			@include max-desktop-only{
				width: 24%;
				height: 520px;
			}

			figcaption{
				min-height: 25%;
				display: flex;
				padding: 5% 4% 2%;
				justify-content: space-between;
				position: relative;
				background-color: $color-background-primary;
				@include tablet-only{
					min-height: 20%;
				}

				h3{
					font-size: 1.2em;
					margin-bottom: 4px;
					@include tablet-only{
						font-size: 1.3em;
						margin-bottom: 6px;
					}
					@include desktop-only{
						font-size: 1.6em;
						margin-bottom: 15px;
					}
				}

				p{
					font-size: 1.15em;
					@include desktop-only{
						font-size: 1.4em;
					}
				}

				i{
					font-size: 1.6em;
					position: absolute;
					top: 26px;
					right: 26px;
					font-weight: 100;
					@include tablet-only{
						font-size: 1.9em;
						top: 20px;
						right: 20px;
					}
					@include desktop-only{
						font-size: 2.25em;
						top: 35px;
						right: 35px;
					}
				}
			}

			img{
				@include tablet-only{
					max-height: 160%;
					width: 130%;
				}
				@include desktop-only{
					width: 160%;
				}
				@include max-desktop-only{
					max-height: 200%;
					width: 200%;
					margin-left: -40%;
				}
			}
		}
	}

	.new{
		position: absolute;
		top: 15px;
		right: 15px;
		background-color: $color-tertiary;
		color: #008766;
		padding: 4px 9px;
		border-radius: 2px;
		@include tablet-only{
			top: 25px;
			right: 25px;
		}
		@include desktop-only{
			top: 30px;
			right: 30px;
			padding: 6px 11px;
			border-radius: 4px;
		}
	}


/*Footer*/
	footer{
		padding: 6% 0 6.7% 6.5%;
		color: white;
		background-color: #353535;
		@include tablet-only{
			padding: 4% 49% 3% 8%;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		@include desktop-only{
			padding: 2.2% 35% 2.6% 9.5%;
		}

		h5{
			font-size: 1.24em;
			margin-bottom: 19px;
			font-family: 'Shrikhand', cursive;
			@include tablet-only{
				font-size: 1.5em;
				margin: 0 100% 20px 0;
			}
			@include desktop-only{
				font-size: 1.78em;
				margin: 0 100% 29px 0;
			}
		}

		p{
			color: white;
			font-size: 1.11em;
			margin-bottom: 7px;
			@include tablet-only{
				font-size: 1.2em;
				margin-bottom: 15px;
			}
			@include desktop-only{
				font-size: 1.62em;
				margin-bottom: 28px;
			}
		}

		i{
			margin-right: 10px;
			@include tablet-only{
				margin-right: 13px;
			}
			@include desktop-only{
				margin-right: 17px;
			}
		}

		a:last-child{
			@include tablet-only{
				padding-right: 27.3%;
			}
		}
	}

	.fa-hands-helping{
		font-size: 0.7em;
		@include tablet-only{
			font-size: 0.8em;
		}
		@include desktop-only{
			font-size: 0.9em;
		}
	}


/*pages menus*/
	.main-menu{
		padding-top: 59%;
		background-attachment: fixed;
	  	background-repeat: no-repeat;
	  	background-position: top center;
	  	background-size: 126%;
	  	@include desktop-only{
			padding: 32.5% 18.7% 0 17.2%;
		  	background-size: 100%;
		}

	  	h1{
	  		background-color: $color-background-secondary;
	  		padding: 8.5% 9.5% 0 5.5%;
	  		border-radius: 43px 43px 0 0;
	  		display: flex;
	  		justify-content: space-between;
	  		align-items: center;
	  		@include desktop-only{
		  		padding: 4.5% 6.5% 0 6.5%;
		  		border-radius: 100px 100px 0 0;
			}

	  		i{
	  			font-size: 1em;
	  			font-weight: 100;
	  			color: #353535;
	  		}
	  	}
	}

	.palette{
		background-image: url('../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
		@include desktop-only{
	  		background-position: center 80%;
		}
	}

	.enchantee{
		background-image: url('../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg');
	  	background-size: 100%;
	  	background-position: center -38px;
	  	@include desktop-only{
	  		background-position: center 65%;
		}
	}

	.francaise{
		background-image: url('../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
		@include desktop-only{
	  		background-position: center 50%;
		}
	}

	.sens{
		background-image: url('../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg');
	  	background-size: 123%;
	  	@include desktop-only{
	  		background-position: center 90%;
		}
	}

	form{
		background-color: $color-background-secondary;
		padding: 8% 0 24%;
		text-align: center;
		@include desktop-only{
	  		padding: 3.9% 0 15%;
		}
	}
	
	.menu{
		margin: 0 0 10.5% 3.7%;
		text-align: left;
		@include desktop-only{
			margin: 0 9% 6.5% 9%;
		}
	}

	h2{
		font-size: 1.09em;
		margin: 0% 1.5% 23px;
		@include desktop-only{
			font-size: 1.75em;
			margin: 0% 1.7% 39px;
		}

		span{
			border-bottom: 3px $color-tertiary solid;
			padding-bottom: 4px;
			@include desktop-only{
				border-bottom: 4px $color-tertiary solid;
				padding-bottom: 9px;;
			}

		}
	}

	.choix{
		background-color: $color-background-primary;
		box-shadow: map-get($shadow, mobile);
		margin: 0% 3% 3.8% 0%;
		overflow: hidden;
		border-radius: 16px;
		display: flex;
		align-items: center;
		@include desktop-only{
			box-shadow: map-get($shadow, desktop);
			margin: 0% 0% 18px 0%;
		}

		div{
			width: 100%;
			margin: 3.5% 3% 3.8%;
			@include desktop-only{
				margin: 2% 2% 2%;
			}

			h3{
				font-size: 1.18em;
				margin-bottom: 6px;
				@include desktop-only{
					font-size: 1.6em;
					margin-bottom: 5px;;
				}
			}

			p{
				font-size: 1.01em;
				display: flex;
				justify-content: space-between;
				@include desktop-only{
					font-size: 1.36em;
				}
			}
		}

		input{
			margin: 0;
			transform-origin: 100% 50%;
        	transform: scaleX(0);
    	}
	}

	input{
		margin: 3% 0 0 0;
		padding: 4.2% 11.5% ;
		@include bouton-mobile;
		border-style: none;
		font-family: $police_roboto;
		box-shadow: map-get($shadow, mobile);
		@include desktop-only{
			margin: 4.4% 0 0 0;
			padding: 2% 5.5% ;
			@include bouton-desktop;
			box-shadow: map-get($shadow, desktop);
		}
	}